body{
    background-color: black;
    align-items: center;
    text-align: center;
    justify-content: center;
    cursor: grab;

}



h2{
    color: blue;
    font-size: small;
    font-weight: 600px;
}



.card{
    background-color: wheat;
    height:300px;
    width: 300px;
    border-radius: 50px;
}



img{
    border-radius: 50%;
    font-size: medium;
    height: 100px;
    width: 100px;
}